*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nimbus Sans L" ;
}
 html ,body{
    width: 100%;
    height: 100%;

 }
 .main{
    width: 100%;
 }
 .nav{
    position: relative;
    padding: 2vw 9vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .nleft {
    display: flex;
    gap: 30px;
 }
 .nav a{
  display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;

 }
 .nav #center{
    position:absolute ;
    font-size: 12px;
    top: 38%;
    left: 48%;
    transform: translate(-50% -50%);
 }
 .hero{
    width: 100%;
    margin-top: 13vw;
    padding: 0vw 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .sustain{
    width: 10vw;
 }
 .sustain p{
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    font-size: 12px;
    margin: 10px 0 ;
 }
 .sustain .susimagewrap{
    width: 100%;
    height: 13vw;
 }
 .susimagewrap img{
    width: 100%;
    height: 100%;
 }
 .ephemeral{
   position: relative;
   width: 30vw;
   min-height: 42vw;
 }
 .imagetext{
   width: fit-content;
   height: fit-content;
 }
 .ephemeral p{
   margin-top: 20px;
   font-size: 1.3vw;
   letter-spacing: -.1vw;
   width: 40%;
   line-height: 1.2;
   height: 100%;
 }
 .ephemeral .headings {
   top: -18.5%;
   left: -17%;
   position: absolute;
 }
 .ephemeral img{
   width: 100%;
   height: 100%;
   object-fit: contain;
 }
 .ephemeral h1{
   font-size: 5vw;
   letter-spacing: -.4vw;
   font-weight: 400;
   line-height: 1;
 }
 .visit{
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .circleV{
   border-radius: 50px;
   border: 1px solid #a09e9e;
   width: 3vw;
   height: 3vw;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .circleV i{
   color: #a09e9e;
 }
 .visit h3{
   font-weight: 400;
   font-size: 12px;
   color: #a09e9e;
 }
 .motive{
   margin-top: 6vw;
   display: flex;
   justify-content: space-between;
   padding: 3vw 9vw;
 }
 .motive p{
   position: relative;
   line-height: 1.6;
   letter-spacing: -.1vw;
   right: 0;
   width: 75%;
   text-align: right;
   font-size: 2.1vw;
 }
 .motive span{
   display: inline-block;
   border-radius: 100px;
   margin: 0 10px;
   margin-bottom: -10px;
 }
#onespan{
   width: 80px;
   height: 40px;
   background-image: url(/Assets/bluegirl.jpg);
   background-size: cover;
   background-position: 0% 60%;
}
#twospan{
   width: 120px;
   height: 50px;
   background-image: url(/Assets/shaljam.jpg);
   background-size: cover;
   background-position: 0% 45%;
}
#threespan{
   width: 80px;
   height: 40px;
   background-image: url(/Assets/grass.jpg);
   background-size: cover;
   background-position: 0% 60%;
}
.pics{
  margin-top: 8vw;
  padding: 3vw;
  padding-left: 14vw;
  padding-right: 12vw;
  display: flex;
  justify-content: space-between;
}
.pic1{
  width: 15vw;
}

.pic1 h1, .pic2 h1{
  letter-spacing: -.1vw;
  font-weight: 100;
  font-size: 1.8vw;
}
.pic1 .picimg{
  width: 100%;
  height: 21vw;
  margin-bottom: 1vw;
}
.picimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pic1 p, .pic2 p{
  opacity: .8;
  font-size: .8vw;
  letter-spacing: -.05;
  line-height: 1;
  margin-top: 1px;
}
.pic2{
  width: 23vw;
 display: flex;
 flex-direction: column;
 align-items: end;

}
.pic2 .picimg{
  width: 100%;
  height: 32vw;
  margin-bottom: 1vw;
}
.pic2 p{
  width: 50%;
  text-align: right;
}
.banner{
  width: 100%;
  margin-top: 8vw;
  display: flex;
  align-items: center;
}
.bimg{
  width: 65%;
  height: 60vh;
}
.bimg img{
  height: 100%;width: 100%;
  object-fit: cover;
  object-position: 0 70%;
}
.btext{
  width: 30%;
  padding: 0 3vw;

}
.btext h1{
  font-size: 2.4vw;
  font-weight: 400;
  letter-spacing: -.13vw;
  line-height: 1;
}
.btext p{
  margin-top: 20px;
  width: 70%;
  font-size: 1vw;
}
.futur{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.futur video{
  opacity: 0;
position: absolute;
/* top: 50%;
left: 50%; */
transform: translate(-50% -50%);
width: 100%;
  
}
.ftext {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 9999;
  background-color: #fff;
  padding: 1vw 2vw;
  border-radius: 10px;
}
.ftext button{
  padding: .8vw 1vw;
  font-size: .7vw;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 10px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #c9c5c5;
  color: #716f6f;
}